@import 'tailwindcss';
@import 'tailwindcss/preflight' @plugin 'tailwindcss-animate';

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-yellow-50: #fefbf0;
  --color-yellow-100: #fcecc0;
  --color-yellow-200: #f9dd90;
  --color-yellow-300: #fcd15a;
  --color-yellow-400: #f8c22a;
  --color-yellow-500: #ebae04;
  --color-yellow-600: #b98903;
  --color-yellow-700: #876402;
  --color-yellow-800: #553f02;
  --color-yellow-900: #231a01;

  --color-grey-10: #fcfcfc;
  --color-grey-50: #f2f2f7;
  --color-grey-100: #e5e5ea;
  --color-grey-200: #d3d3d8;
  --color-grey-300: #a3a3a8;
  --color-grey-400: #82828e;
  --color-grey-500: #5d5d69;
  --color-grey-600: #303038;
  --color-grey-700: #1d1d24;
  --color-grey-800: #14141b;
  --color-grey-900: #0d0d12;

  --color-green-50: #f1fdf9;
  --color-green-100: #cdf9eb;
  --color-green-200: #a0f3d8;
  --color-green-300: #74ecc5;
  --color-green-400: #39dba5;
  --color-green-500: #0fc78b;
  --color-green-600: #00a36e;
  --color-green-700: #00704b;
  --color-green-800: #003d29;
  --color-green-900: #001a11;

  --color-blue-50: #f5fbff;
  --color-blue-100: #d1edff;
  --color-blue-200: #9edaff;
  --color-blue-300: #6dc7ff;
  --color-blue-400: #42b0f5;
  --color-blue-500: #1093e5;
  --color-blue-600: #0077c2;
  --color-blue-700: #00558a;
  --color-blue-800: #003252;
  --color-blue-900: #001624;

  --color-purple-50: #fcf2fc;
  --color-purple-100: #f2c0f2;
  --color-purple-200: #e995e9;
  --color-purple-300: #e06be0;
  --color-purple-400: #cd4ccd;
  --color-purple-500: #b332b3;
  --color-purple-600: #941f94;
  --color-purple-700: #6a166a;
  --color-purple-800: #3f0d3f;
  --color-purple-900: #1e061e;

  --color-berry-50: #fef1f6;
  --color-berry-100: #fac6da;
  --color-berry-200: #f693b8;
  --color-berry-300: #ef6799;
  --color-berry-400: #ce2c68;
  --color-berry-500: #bb1653;
  --color-berry-600: #9e0d43;
  --color-berry-700: #710930;
  --color-berry-800: #42051c;
  --color-berry-900: #21030e;

  --color-red-50: #fef1f1;
  --color-red-100: #f8b0b0;
  --color-red-200: #f38181;
  --color-red-300: #ef5454;
  --color-red-400: #d63838;
  --color-red-500: #bf3131;
  --color-red-600: #9a1d1d;
  --color-red-700: #601616;
  --color-red-800: #360c0c;
  --color-red-900: #1d0707;

  --color-orange-50: #fff8f0;
  --color-orange-100: #ffe0bd;
  --color-orange-200: #ffc480;
  --color-orange-300: #ffad4d;
  --color-orange-400: #f49425;
  --color-orange-500: #da7b0b;
  --color-orange-600: #b26000;
  --color-orange-700: #804500;
  --color-orange-800: #4d2900;
  --color-orange-900: #1f1100;

  --color-text2: #989898;

  --color-primary: var(--color-yellow-300);
  --color-primary-hover: var(--color-yellow-200);
  --color-primary-foreground: var(--color-grey-800);

  --color-accent: var(--color-grey-100);
  --accent-foreground: 222.2 47.4% 11.2%;

  --color-background: var(--color-grey-900);
  --color-foreground: var(--color-grey-50);

  --color-success: var(--color-green-100);
  --color-success-foreground: var(--color-green-600);
  --color-success-border: var(--color-green-600);

  --color-danger: var(--color-red-100);
  --color-danger-foreground: var(--color-red-600);
  --color-danger-border: var(--color-red-600);

  --color-warning: var(--color-orange-100);
  --color-warning-foreground: var(--color-orange-600);
  --color-warning-border: var(--color-orange-500);

  --color-info: var(--color-blue-100);
  --color-info-foreground: var(--color-blue-600);
  --color-info-border: var(--color-blue-600);

  --font-sans: 'Mulish', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-anybody: 'Anybody Variable', sans-serif;
  --font-anybody--font-variation-settings: 'wdth' 120;
  --font-mono: 'Space Mono', monospace;
  --font-grotesk: 'Space Grotesk', sans-serif;

  --animate-spin-slow: spin 1.5s linear infinite;

  --radius-20: 20px;
  --radius-30: 30px;

  --drop-shadow-link-hover: 0px 1px 4px rgba(255, 255, 255, 0.8);

  /* ring */
  --color-ring: var(--color-yellow-200);
}

body {
  @apply bg-background text-foreground;
}

h1,
h2 {
  @apply font-anybody;
}

h1 {
  @apply text-2xl font-extrabold;
}

h2 {
  @apply text-xl font-bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-grey-700 rounded-full;
}
*::-webkit-scrollbar-track {
  @apply bg-grey-800 rounded-full;
}

.radial-bg {
  background: radial-gradient(
    69.42% 69.42% at 76.4% 5.58%,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(102, 102, 102, 0.1) 17%,
    rgba(102, 102, 102, 0.1) 68%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
